@import '../../../assets/styles/main';

.home-header {
    &-text {
        font-size: 1.25rem;
        font-weight: 600;
        margin-bottom: 1rem;

        @include mq-small-only {
            font-size: .8rem;
        }
    }
}