@import '~bootstrap/scss/bootstrap.scss', './variable', './mixins';
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Text', sans-serif;
}