$c-white: #ffffff;
$c-black: #000000;
$c-red: #cc1c1a;
$c-red-hover: #aa1716;
$c-gray: #838c9b;
$c-gray-sec: #ced4da;
$c-gray-dark: #707988;
$c-green: #5cc163;
$c-orange: #fd7e14;
$c-blue: #0065ff;
$c-yellow: #fd9903;

